@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */

:root {
    --primary-color: #3FBF7B;
    --secondary-color: #07091E;

    --linear-gradient: linear-gradient(180deg, #552501 0%, #A54805 100%);

    --font-family: "Quicksand", sans-serif;

    --extra-large-font-size: 3.8rem;
    --large-font-size: 3.1rem;
    --medium-font-size: 1.875rem;
    --font-size: 1.15rem;
    --small-font-size: 0.9rem;
    --extra-small-font-size: 0.75rem;

    @media only screen and (max-width: 850px) {
        --large-font-size: 2.5rem;
        --medium-font-size: 1.5rem;
        --font-size: 0.9rem;
        --small-font-size: 0.75rem;
    }

    @media only screen and (max-width: 420px) {
        --large-font-size: 2.1rem;
        --medium-font-size: 1.4rem;
        --font-size: 0.85rem;
        --small-font-size: 0.7rem;
    }
}

/*#region =========    General Layout   ============  */

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    color: var(--secondary-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

li {
    list-style: none;
}

i {
    cursor: pointer;
}

/*#endregion  */



/* ================= HEADER =================== */

/*#region */

.navBar {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.navHomeOverlay {
    background-color: rgba(255, 255, 255, 0.7);
}

.navFeatureOverlay {
    background-color: rgba(7, 9, 30, 0.7);
}

.navMenu {
    width: 45%;
}

.navMenu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navMenu ul li:nth-child(1) {
    width: 4.6rem;
    margin-right: 1.5rem;
}

.navMenu ul li a {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

.navMenu ul li img {
    width: 100%;
}

.navMenu ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.01s ease-in;
}

.navMenu ul li:nth-child(2):hover .dot {
    display: flex;
    animation: moveRight 0.3s alternate;
}

@keyframes moveRight {
    from {
        transform: translate(-10px, 0);
    }

    to {
        transform: translate(0px, 0);
    }
}

.navMenu ul li:nth-child(2):hover .contactLink {
    color: var(--primary-color);
}

.navMenu ul li .dot {
    display: none;
    width: 0.31rem;
    height: 0.33rem;
    border-radius: 50%;
    margin-right: 0.3rem;
    background-color: var(--primary-color);
    transition: all 0.4s ease-in;
}

.languageToggle {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.languageToggle .toggle {
    display: flex;
    justify-content: space-around;
    width: 2.35rem;
    /* width: 7.5rem; */
    height: 2.35rem;
    border-radius: 3rem;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.languageToggle .flag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.35rem;
    height: 2.35rem;
    border-radius: 50%;
    padding: 0.38rem;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.languageToggle .flag:hover {
    opacity: 0.5;
}

.languageToggle .flag img {
    width: 100%;
}

.languageToggle #mexico,
.languageToggle #france {
    display: none;
    animation: moveLeft 0.3s alternate;
}

@keyframes moveLeft {
    from {
        transform: translate(0px, 0);
    }

    to {
        transform: translate(-10px, 0);
    }
}

.languageToggle .toggle:hover #mexico,
.languageToggle .toggle:hover #france {
    display: flex;
}

.languageToggle .toggle:hover {
    width: 7.5rem;
    animation: widthChange 0.6s alternate;
}

@keyframes widthChange {
    from {
        width: 5rem;
    }

    to {
        width: 7.5rem;
    }
}

/*#endregion  */


/* ================= HOME =================== */

/*#region */

.homeSection {
    width: 100%;
    margin-top: 6.1rem !important;
}

.heroBg {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImg {
    width: 100%;
    height: 25.5rem;
    border-radius: 1.7rem;
    overflow: hidden;
}

.bgImg .bg1 {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.bgImg .bg1 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.bgImg .bg2 {
    z-index: 2;
    width: 80%;
    height: 100%;
    overflow: hidden;
    position: relative;
    bottom: 82%;
    left: -3%;
}

.bgImg .bg2 img {
    width: 100%;
}

.bgImg .bg3 {
    z-index: 3;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    bottom: 162%;
    left: 15%;
}

.bgImg .bg3 img {
    width: 100%;
}

.heroBg .ball1 {
    z-index: 4;
    width: 3%;
    position: relative;
    bottom: 280%;
    left: 14%;
}

.heroBg .ball1 img {
    width: 100%;
}

.heroBg .ball2 {
    z-index: 4;
    width: 5%;
    position: relative;
    bottom: 275%;
    left: 60%;
}

.heroBg .ball2 img {
    width: 100%;
}

.heroBg .ball3 {
    z-index: 4;
    width: 6%;
    position: absolute;
    top: 77%;
    left: 10%;
}

.heroBg .ball3 img {
    width: 100%;
}

/* ======================================= */

.igniteText {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.igniteText .green {
    color: var(--primary-color);
    line-height: 0.7;
}

.igniteText .heading {
    font-size: var(--extra-large-font-size);
    font-weight: 650;
}

.igniteText .description {
    width: 48%;
    margin: 1.5rem 0 2rem;
    font-size: var(--extra-small-font-size);
    font-weight: 500;
}

.igniteText .schedule {
    padding: 0.6rem 2rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    background-color: var(--secondary-color);
    border-radius: 1.2rem;
    color: #fff;
}

/* ========================================== */

.withWithout {
    width: 90%;
    margin: 3rem auto;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.withWithout .column {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.withWithout .column:nth-child(1) {
    background-color: #DEDEDE;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.withWithout .column:nth-child(1) img {
    width: 75% !important;
}

.withWithout .column:nth-child(2) {
    background-image: url('./assets/withBg.png');
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.withWithout .column:nth-child(1) .heading {
    background-color: #F2F2F2;
}

.withWithout .column:nth-child(2) .heading {
    background-color: #ADE6C7;
}

.withWithout .column .heading {
    text-align: center;
    font-weight: 600;
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 1.4rem 0;
}

.withWithout .column img {
    margin: 2.2rem 0;
    width: 60%;

}

/* ============================================= */

.about {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .sectionName {
    margin-bottom: 5rem;
    font-size: var(--extra-small-font-size);
    font-weight: bolder;
    color: #C4C4C4;
}

.about .heading {
    font-size: var(--large-font-size);
    font-weight: 700;
    margin-bottom: 6rem;
}

.about .grid {
    width: 100%;
    display: grid;
    place-items: start center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 8rem;
}

.about .grid .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem 1.4rem 2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about .grid .card:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.about .grid .card:hover .title,
.about .grid .card:hover .number,
.about .grid .card:hover .description {
    animation: moveUp 0.3s linear forwards;
}

@keyframes moveUp {
    0% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(0, -15px);
    }

    100% {
        transform: translate(0, -12px);
    }
}

.about .grid .card:hover .title {
    border: none;
    padding-top: 0;
}

.about .grid .card:hover .title .circle {
    background-color: #fff;
}

.about .grid .card .title {
    width: 94%;
    border-top: 1px solid var(--secondary-color);
    padding-top: 1.8rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.about .grid .card .title .circle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-right: 0.7rem;
    background-color: var(--secondary-color);
}

.about .grid .card .number {
    margin: 1.2rem 0;
    font-size: var(--large-font-size);
    font-weight: 700;
}

.about .grid .card .description {
    width: 88%;
    line-height: 1.8;
    font-weight: 500;
    font-size: var(--extra-small-font-size);
}


/* =============================================== */

.scroller {
    position: sticky;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5rem 0;
    background-color: var(--secondary-color);
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .section {
    width: 80%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 0 2rem;
}

::-webkit-scrollbar {
    display: none;
}

.content .section .infoBlock {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll
}

.content .section .infoBlock .info {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}

.content .section .dynamicImg {
    width: 100%;
    grid-column: 1 / 2;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content .section .dynamicImg .sectionImg {
    width: 47%;
    padding: 0.1rem;
    border-radius: 1.2rem;
    background-color: #fff;
}

.content .section .dynamicImg .sectionImg img {
    width: 100%;
    border-radius: inherit;
    transition: opacity 0.5s ease-in-out;
}

@keyframes slideUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slideUp {
    animation: slideUp 0.5s ease-in-out;
}

.slideDown {
    animation: slideDown 0.5s ease-in-out;
}

.content .section .dynamicImg .static {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content .section .dynamicImg .static img {
    width: 85%;
    border-radius: 1.2rem;
}

.content .section .dynamicImg .static .pago {
    margin-bottom: 1.3rem
}

.content .section .info .number {
    padding: 0.3rem 1rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    font-size: var(--font-size);
    font-weight: 700;
}

.content .section .info .title {
    font-size: var(--large-font-size);
    font-weight: 600;
    margin: 0.5rem 0;
}

.content .section .info .description {
    font-size: var(--font-size);
    font-weight: 500;
    width: 88%;
    line-height: 1.4;
    color: #CDCED2;
}


/* =============================================== */

.customers {
    width: 90%;
    margin: 4rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customers .heading {
    text-align: center;
    width: 80%;
    line-height: 1;
    font-size: var(--extra-large-font-size);
    font-weight: 600;
    margin-bottom: 2rem;
}

.customers .grid {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customers .grid .reviewCol {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customers .grid .review {
    padding: 1.6rem;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: #F9F9F9;
    transition: all 0.3s ease-in-out;
}

.customers .grid .review:hover {
    background-color: #FFF;
    box-shadow: #0000001a 0px 20px 25px -5px, #0000000a 0px 10px 10px -5px;
}

.customers .grid .review .cImg {
    width: 100%;
    border-radius: inherit;
}

.customers .grid .review .title {
    font-size: var(--font-size);
    font-weight: 600;
    margin: 0.5rem 0;
}

.customers .grid .review .description {
    width: 70%;
    line-height: 1.5;
    color: #4F4F4F;
    border-radius: inherit;
    margin: 0.8rem 0;
}

.customers .grid .review .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #7C7C7C;
    margin: 0.6rem 0;
}

.customers .grid .review .user .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customers .grid .review .user .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.customers .grid .review .user .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.customers .grid .review .user .name {
    font-size: var(--small-font-size);
    font-weight: 500;
}

.customers .grid .review .user .shop {
    font-size: var(--extra-small-font-size);
}

.customers .grid .review .user .shop span {
    color: #9A8AFA;
}


/* =============================================== */

.faq {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq .faq-header {
    font-size: var(--large-font-size);
    font-weight: 700;
    margin-bottom: 4rem;
}

.faq .faq-content {
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    padding: 0 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.faq .faq-question {
    padding: 1.25rem 0;
    border-bottom: 1px dotted #ccc;
}

.faq .faq-question:last-child {
    border-bottom: none;
}

.faq .panel-title {
    font-size: var(--font-size);
    font-weight: 600;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0.6rem 0.6rem 0 3rem;
    display: block;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.faq .panel .panel-content {
    font-size: var(--font-size);
    font-weight: 600;
    color: #666666;
    padding: 0 0.8rem;
    margin: 0.5rem 0.5rem;
    margin-left: 2rem !important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    /* opacity: 0; */
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
}

.faq .panel~.panel-content p {
    padding: 1rem 0;
}

.faq .panel:checked~.panel-content {
    height: auto;
    opacity: 1;
}

.faq .panel~.panel-content {
    opacity: 0;
    height: 0;
    padding: 0 0.8rem;
    font-size: var(--font-size);
    font-weight: 600;
    color: #666666;
    padding: 0 0.8rem;
    margin: 0.5rem 0.5rem;
    margin-left: 2rem !important;
}

.faq .plus {
    font-size: 2.1rem;
    color: #A9A9A9;
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: all 0.2s ease;
}

.faq .panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.faq .panel {
    display: none;
}

/* =============================================== */

.costs {
    width: 90%;
    margin: 9rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.costs .heading {
    width: 60%;
    text-align: center;
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 1;
}

.costs .description {
    font-size: var(--font-size);
    font-weight: 600;
    color: #777E90;
    margin: 1.5rem 0 2.5rem;
}

.costs .schedule {
    padding: 0.6rem 2rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    background-color: var(--secondary-color);
    border-radius: 1.2rem;
    color: #fff;
}


/* =============================================== */

footer {
    width: 100%;
    padding: 2.7rem 4rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .logo img {
    width: 15%;
}

footer .info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: var(--extra-small-font-size);
    font-weight: 600;

}

footer .info a {
    color: #0099ff;
    padding-left: 0.5rem;
    border-left: 1px solid #fff;
}

footer .info a:hover {
    text-decoration: underline;
}

footer .info .copyright {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

footer .info .copyright:hover {
    color: #FFB01F;
}



/*#endregion  */



/* ================= CONTACT =================== */

/*#region */

.contactSection {
    width: 100%;
    margin-top: 6.1rem !important;
}

.contactSection .contactForm {
    width: 86%;
    margin: 0 auto 3rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.contactSection .contactForm .sectionName {
    margin-bottom: 2rem;
    font-size: var(--extra-small-font-size);
    font-weight: bolder;
    color: #C4C4C4;
}

.contactSection .contactForm .formText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactSection .contactForm .form {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactSection .contactForm .form .heading {
    font-size: var(--large-font-size);
    font-weight: 700;
    line-height: 1;
}

.contactSection .contactForm .form .description {
    margin: 1rem 0;
    font-size: var(--medium-font-size);
    color: var(--body-font-color);
}

.contactSection .contactForm .form form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactSection .contactForm form input,
.contactSection .contactForm form textarea {
    width: 90%;
    margin: 0.8rem 0;
    padding: 1.3rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #F5F5F5;
}

.contactSection .contactForm form textarea {
    height: 7rem;
}

.contactSection .contactForm form input::placeholder,
.contactSection .contactForm form textarea::placeholder {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--body-font-color);
}

.contactSection .contactForm form button {
    width: 90%;
    margin: 0.8rem 0;
    padding: 1.2rem 0;
    border-radius: 0.5rem;
    color: #fff;
    font-size: var(--font-size);
    font-weight: 700;
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.contactSection .contactForm form button:hover {
    background-color: #393A4B;
}

.contactSection .contactForm .text {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactSection .contactForm .text img {
    width: 100%;
    border-radius: 1.5rem;
}

.contactSection .contactForm .text .contactAddress {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contactSection .contactForm .text .contactAddress .detailCard {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.contactSection .text .contactAddress .detailCard .details {
    margin: 0.6rem 0;
}

.contactSection .text .contactAddress .detailCard .details .heading {
    margin: 0.5rem 0;
    font-size: var(--font-size);
    font-weight: 700;
}

.contactSection .text .contactAddress .detailCard .details .description {
    font-size: var(--small-font-size);
    font-weight: 600;
    color: #6D6D6D;
    line-height: 1.8;
}

/* ====================================================== */

.contactSection footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactSection footer img {
    width: 8%;
}

.contactSection footer span {
    width: 100%;
    margin: 1.8rem 0;
    border-top: 2px solid #353945;
}

.contactSection footer .copyright {
    font-size: var(--small-font-size);
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.contactSection footer .copyright:hover {
    color: #FFB01F;
}

/*#endregion  */